In [1]:
import numpy as np
import pandas as pd

from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import KNNBasic,KNNWithMeans,KNNWithZScore,KNNBaseline

In [2]:
animes = pd.read_csv('anime.csv')
ratings = pd.read_csv('rating.csv')

In [3]:
animes = animes[animes['type'] == 'TV']
animes

,anime_id,name,genre,type,episodes,rating,members
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
...,...,...,...,...,...,...,...
11104,34522,"Wake Up, Girls! Shin Shou","Drama, Music",TV,Unknown,NaN,381
11106,34467,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,Unknown,NaN,1838
11107,32615,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652
11110,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439

In [4]:
ratings.rating.replace({-1: 0}, inplace = True)
ratings.dropna(axis = 0, inplace=True)

In [5]:
ratings = ratings.groupby('anime_id').filter(lambda x : (x['anime_id'].count()>=50).any())

In [6]:
ratings

         user_id  anime_id  rating
0              1        20       0
1              1        24       0
2              1        79       0
3              1       226       0
4              1       241       0
...          ...       ...     ...
7813732    73515     16512       7
7813733    73515     17187       9
7813734    73515     22145      10
7813735    73516       790       9
7813736    73516      8074       9

[7748851 rows x 3 columns]

In [7]:
def get_title_from_index(movie_id):
    title = animes[animes['name'] == movie_id]
    title = list(title['name'])
    return title[0]

def get_index_from_title(title):
    anime_id = animes[animes['name'] == title]
    anime_id = list(anime_id['anime_id'])
    return anime_id[0]

In [8]:
ratings_dict =  {'Fullmetal Alchemist: Brotherhood':10,
            'Dragon Ball Z':10,
            'Code Geass: Hangyaku no Lelouch R2':8,
            'Steins;Gate':6,
            'Tengen Toppa Gurren Lagann':8,
             'Hunter x Hunter (2011)':10,
             'Boku no Hero Academia':8,
             'Berserk':9,
             'Death Note':9,
             'Monster':8
                }

user_id = 99999

ids = []

for movie_titles in ratings_dict.keys():
    x = get_index_from_title(movie_titles)
    ids.append(x)
    
id_list = [user_id] * len(ratings_dict)

user_ratings = list(zip(id_list,ids, ratings_dict.values()))

user_ratings = pd.DataFrame(user_ratings, columns=ratings.columns)
user_ratings

   user_id  anime_id  rating
0    99999      5114      10
1    99999       813      10
2    99999      2904       8
3    99999      9253       6
4    99999      2001       8
5    99999     11061      10
6    99999     31964       8
7    99999        33       9
8    99999      1535       9
9    99999        19       8

In [9]:
ratings = pd.concat([ratings, user_ratings])
ratings

    user_id  anime_id  rating
0         1        20       0
1         1        24       0
2         1        79       0
3         1       226       0
4         1       241       0
..      ...       ...     ...
5     99999     11061      10
6     99999     31964       8
7     99999        33       9
8     99999      1535       9
9     99999        19       8

[7748861 rows x 3 columns]

In [10]:
reader = Reader(rating_scale=(0, 10))
data = Dataset.load_from_df(ratings[['user_id', 'anime_id', 'rating']], reader)

In [11]:
svd = SVD(verbose=True,n_epochs=10)

In [12]:
np.random.seed(1)

#trainset, testset = train_test_split(data, test_size=.20)

full_trainset = data.build_full_trainset()

svd.fit(full_trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9

In [13]:
#predictions = svd.test(testset)
#accuracy.rmse(predictions)

In [14]:
anime_ids = list(animes.anime_id)
len(anime_ids)

3787

In [15]:
animes_not_rated = np.setdiff1d(anime_ids,ids)
print(len(animes_not_rated))
animes_not_rated

3777

array([    1,     6,     7, ..., 34503, 34522, 34525])

In [16]:
rated_df = user_ratings.copy()

user_predictions = []

for i in ids:
    rating = svd.predict(uid=user_id, iid=i)
    user_predictions.append(rating[3])    
    
rated_df['Predicted Rating'] = user_predictions
rated_df.index = rated_df['user_id']
rated_df = pd.merge(animes,rated_df,on='anime_id')
rated_df.drop(['user_id'], axis = 1, inplace = True)

rated_df

,anime_id,name,genre,type,episodes,rating_x,members,rating_y,Predicted Rating
0,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,10,9.056166
1,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,6,7.625526
2,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855,10,9.143270
3,2904,Code Geass: Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25,8.98,572888,8,8.018362
4,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27,8.78,562962,8,7.891715
5,19,Monster,"Drama, Horror, Mystery, Police, Psychological,...",TV,74,8.72,247562,8,8.109274
6,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,9,9.111089
7,33,Berserk,"Action, Adventure, Demons, Drama, Fantasy, Hor...",TV,25,8.40,226430,9,8.837400
8,31964,Boku no Hero Academia,"Action, Comedy, School, Shounen, Super Power",TV,13,8.36,282002,8,7.618300
9,813,Dragon Ball Z,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,291,8.32,375662,10,9.429856

In [17]:
unrated = []

for i in animes_not_rated:
    rating = svd.predict(uid=user_id, iid=i)
    unrated.append(rating[3])
    
new_ratings = list(zip(animes_not_rated, unrated))

In [18]:
new_ratings

[(1, 8.626831321625751),
 (6, 8.70251074083588),
 (7, 6.8706289821495385),
 (8, 6.909181522052074),
 (15, 7.631302073729442),
 (16, 7.898583632445978),
 (17, 7.77578480996305),
 (18, 7.556330929671054),
 (20, 8.216019320640724),
 (21, 6.535712734646543),
 (22, 7.619746252557312),
 (23, 6.535712734646543),
 (24, 8.074851861619184),
 (25, 7.1340192491294045),
 (26, 6.8939885321288505),
 (27, 7.17718607868099),
 (28, 7.813830830147721),
 (29, 7.348791322481491),
 (30, 8.354357637680058),
 (45, 8.433121941134866),
 (48, 7.795250374133962),
 (50, 7.840291067805743),
 (52, 8.059019229073778),
 (53, 7.192308274092364),
 (55, 6.324735705732598),
 (56, 5.818495885930215),
 (57, 8.328769347847206),
 (58, 6.6753316106299625),
 (59, 7.181914334765454),
 (60, 7.715988003477227),
 (61, 6.867734498729575),
 (62, 7.1506445615540235),
 (63, 6.349784138330826),
 (64, 6.735894724363054),
 (65, 6.841629669743783),
 (66, 8.015704077460226),
 (67, 7.992035902700133),
 (68, 7.160190073227775),
 (69, 6.497106950489877),
 (71, 7.593871714499695),
 (72, 8.206674246495352),
 (73, 7.78697191129671),
 (74, 7.403009377763573),
 (75, 6.8509377167674606),
 (76, 7.5834302772341635),
 (77, 8.011629499449434),
 (79, 6.712081358880366),
 (80, 7.117143762781233),
 (85, 7.239652705057969),
 (86, 6.663029541236879),
 (89, 6.203064599616603),
 (90, 8.160614314252722),
 (92, 6.82146274639745),
 (93, 8.136047881044906),
 (94, 7.777683557130983),
 (95, 7.3430429134387),
 (96, 6.554170604524643),
 (97, 7.433912919517426),
 (98, 7.751288533358123),
 (99, 7.447820125019464),
 (100, 6.985909570196503),
 (101, 7.397134526215013),
 (102, 6.869313492209276),
 (103, 7.7787841349310956),
 (104, 7.595632548067883),
 (105, 5.795325476886591),
 (106, 8.00193163661524),
 (107, 6.937650557891112),
 (109, 6.824457464786322),
 (110, 7.663879314381003),
 (111, 6.837854043845538),
 (112, 5.142872110132385),
 (113, 7.099088869200712),
 (114, 7.14283318239583),
 (115, 6.752726614646268),
 (116, 6.808188646384332),
 (119, 6.437766501103735),
 (120, 6.733948823639564),
 (121, 8.219291374258125),
 (122, 8.24423456527873),
 (123, 7.627101888939102),
 (125, 6.297075984938832),
 (126, 6.396224016152867),
 (127, 7.020718032094791),
 (129, 7.500837636042438),
 (130, 6.761078294913309),
 (131, 6.841128492987451),
 (132, 7.327227419481195),
 (133, 6.547506925516298),
 (134, 7.217553753737115),
 (135, 7.802071225077343),
 (136, 7.863846256716401),
 (141, 6.164386305459267),
 (142, 6.622047484938589),
 (143, 6.419041272507136),
 (144, 6.9172041723310755),
 (145, 7.211728312865142),
 (146, 6.3953836858207715),
 (147, 6.960860370651661),
 (148, 6.630333693906935),
 (149, 6.5007512024343015),
 (150, 7.152989441492471),
 (152, 7.003665998789148),
 (153, 7.998827446904244),
 (154, 6.367345155256061),
 (156, 7.439877118201429),
 (157, 6.26665389623253),
 (158, 6.985338481633045),
 (159, 5.67791343396739),
 (160, 7.81900736613806),
 (161, 7.579335122721618),
 (162, 7.025796910807059),
 (163, 6.187263790078537),
 (165, 6.606176749895965),
 (166, 7.3223716358744335),
 (167, 7.434524955397596),
 (168, 7.349129253706758),
 (169, 6.486575356676502),
 (170, 8.843435095211031),
 (171, 6.033064990481908),
 (173, 6.976141872835329),
 (174, 6.69912808835829),
 (175, 6.265790911144437),
 (177, 7.038034721159808),
 (178, 7.168282778971627),
 (180, 6.18106875531805),
 (181, 6.558380584459343),
 (182, 7.395789232486682),
 (183, 7.521549647779264),
 (184, 6.044097457158229),
 (185, 7.883425354984059),
 (186, 7.482826110738207),
 (189, 6.907571137743072),
 (193, 6.277991951352972),
 (195, 6.945029637499948),
 (196, 7.060434688107664),
 (197, 6.59309526711376),
 (198, 6.894957639891048),
 (200, 6.953847405896344),
 (202, 7.5110114505981596),
 (204, 5.900124439522523),
 (205, 8.432213278205715),
 (206, 6.809104046688642),
 (209, 7.959889110791201),
 (210, 7.3935830360346095),
 (218, 6.947051295775649),
 (222, 5.973487150916846),
 (223, 8.98177244498185),
 (225, 7.235988182523359),
 (226, 7.519003778006214),
 (228, 6.7066841830397665),
 (229, 6.761254506055314),
 (230, 7.225733416340218),
 (231, 5.919581165428837),
 (232, 8.213184112970579),
 (233, 7.3857953214773175),
 (234, 6.744390930965752),
 (235, 6.535712734646543),
 (236, 5.932416397431989),
 (237, 8.031071178677998),
 (238, 7.290247947390486),
 (239, 8.22623525033021),
 (240, 7.470027244865884),
 (241, 6.317696183943943),
 (242, 7.1589809500400925),
 (243, 6.9752843585864985),
 (244, 6.870135606304653),
 (245, 8.165329108111209),
 (246, 6.813628871082521),
 (247, 6.799426590167942),
 (248, 6.582112399767712),
 (249, 7.995988530014472),
 (250, 7.260553580191452),
 (251, 7.782708374460335),
 (252, 6.611088310325065),
 (253, 7.98822962862633),
 (257, 6.704340865051623),
 (260, 5.686069873610996),
 (261, 5.60709658501125),
 (263, 8.15053528350381),
 (266, 6.837098433098346),
 (267, 8.373013899544826),
 (269, 8.17998191494283),
 (270, 7.745212942624066),
 (271, 7.090299731444996),
 (272, 7.092831933001653),
 (273, 6.55010680488631),
 (274, 7.168520989114631),
 (275, 5.6293523489732245),
 (276, 6.396211075452776),
 (277, 6.434776415675744),
 (278, 6.119251715767307),
 (279, 6.716501565389132),
 (280, 6.535712734646543),
 (282, 7.371512280237266),
 (283, 7.098406902134569),
 (284, 7.347269710477784),
 (285, 6.410022160887265),
 (286, 6.55457294128028),
 (287, 6.767909613836459),
 (288, 6.884450831825339),
 (289, 6.727172543352338),
 (290, 7.3946498066615645),
 (291, 7.1045989748338405),
 (292, 7.141585561839672),
 (293, 6.565983470904538),
 (294, 6.002472816625527),
 (295, 6.664609722426764),
 (296, 6.772778107060702),
 (297, 6.963932846086533),
 (298, 6.514534424550902),
 (301, 6.49670173035359),
 (302, 7.882033716805166),
 (303, 6.962488387238686),
 (306, 7.485894303799724),
 (307, 6.535712734646543),
 (308, 6.015039061129259),
 (309, 5.967010868379535),
 (310, 5.25700877603009),
 (311, 6.739541165931567),
 (318, 6.7498720224006),
 (321, 5.663850580567937),
 (322, 7.029637721725328),
 (323, 6.877468048366691),
 (324, 7.45692543183746),
 (325, 6.900744149386073),
 (326, 6.82293402491592),
 (327, 7.151376723539009),
 (328, 6.229348304816538),
 (329, 8.456958963203952),
 (330, 7.458116852450821),
 (331, 7.179611349853489),
 (332, 7.043155061139838),
 (333, 6.416034420264417),
 (334, 7.09024129521135),
 (335, 6.942742063189303),
 (336, 7.019671834281256),
 (337, 5.893437881734644),
 (338, 8.155541534013425),
 (339, 6.647886293999276),
 (340, 6.891160214956361),
 (341, 6.2913491924116585),
 (342, 6.898873482156569),
 (343, 6.392862568940515),
 (344, 6.888903674136021),
 (345, 7.017735282036423),
 (346, 6.298370979627159),
 (347, 6.591121746173154),
 (348, 6.150154304622556),
 (349, 6.211104602787117),
 (350, 6.705279957952678),
 (351, 6.583769045555284),
 (352, 6.784745742956341),
 (353, 6.834492797347818),
 (354, 5.783474785584964),
 (355, 6.52814992014295),
 (356, 7.5616876195948635),
 (360, 6.130997924179927),
 (364, 7.549508076692365),
 (369, 6.710803347506851),
 (370, 6.48628877544904),
 (375, 6.60617041014946),
 (379, 7.424155581808529),
 (383, 6.9784303751010235),
 (384, 7.337593732241088),
 (385, 6.343485789084855),
 (386, 7.004323693256887),
 (387, 7.542721104851462),
 (388, 8.112178533371548),
 (390, 7.160202420173261),
 (392, 8.518035870501564),
 (394, 7.099141014364591),
 (395, 7.132100029305137),
 (396, 7.859078166299587),
 (397, 7.990481439738675),
 (400, 7.691374864000242),
 (403, 6.728746744698808),
 (406, 6.091731366206841),
 (407, 7.742034263896931),
 (411, 7.480678494662002),
 (412, 6.167972815958054),
 (417, 6.529028431910827),
 (419, 6.09311523696971),
 (421, 6.500881990076014),
 (424, 6.757903482560303),
 (427, 7.861318313555149),
 (435, 7.420997199953425),
 (440, 7.198348214336665),
 (444, 7.307376538294486),
 (445, 5.613542097285741),
 (446, 6.353732111435022),
 (447, 6.6081227189143705),
 (455, 8.219764462866792),
 (456, 6.612764356526992),
 (457, 7.620486038085311),
 (467, 8.35426382081147),
 (469, 7.2058688288466515),
 (470, 6.1836613266450895),
 (471, 5.94455992354333),
 (472, 6.955737996155492),
 (473, 6.732013277025887),
 (476, 6.858134334687172),
 (477, 7.302132890985015),
 (478, 6.512299294285058),
 (479, 7.713329419617123),
 (481, 6.637542617676902),
 (482, 5.948086449444849),
 (483, 7.325104795429501),
 (485, 7.046108612803318),
 (486, 7.026591295092939),
 (487, 6.411488316396115),
 (488, 7.039643572463217),
 (489, 6.358568074300405),
 (490, 7.409727665048925),
 (495, 7.035155641605079),
 (497, 5.962952571112757),
 (501, 7.320556709160745),
 (505, 6.9246036450733826),
 (506, 6.963212190875515),
 (508, 6.623282139752992),
 (509, 6.713047096026331),
 (510, 5.606308212671775),
 (511, 5.916579256539793),
 (516, 7.49821054510755),
 (518, 6.289269127493197),
 (519, 6.935760533203202),
 (521, 6.725069534129078),
 (525, 6.376678454919711),
 (527, 7.124853703984343),
 (529, 6.5057624285904785),
 (530, 7.510621873577495),
 (532, 7.238333110624106),
 (533, 6.925433328693796),
 (534, 7.565655279489155),
 (535, 7.323417559495868),
 (538, 6.5075543397512),
 (545, 6.257137631643194),
 (546, 6.086408895628365),
 (550, 6.852979075860925),
 (551, 6.773823541710666),
 (552, 8.256008122438187),
 (553, 7.958647787302962),
 (554, 6.877190959727853),
 (555, 6.155386542559991),
 (558, 8.617327180855817),
 (561, 7.039726310154019),
 (563, 6.254463487456898),
 (567, 7.130937697258119),
 (568, 6.8823007897994115),
 (569, 7.477459035266886),
 (573, 7.250410551649686),
 (576, 5.408933181383461),
 (577, 6.239409809530434),
 (579, 6.913781424565208),
 (580, 6.961496784311263),
 (582, 7.513732249567315),
 (584, 7.666212117170091),
 (586, 6.6347359101342605),
 (587, 7.50275665331934),
 (589, 8.400753183661047),
 (590, 6.255619338163046),
 (591, 6.215218467778945),
 (592, 6.535712734646543),
 (593, 7.330099243710943),
 (598, 7.465498991370746),
 (600, 4.993967109332638),
 (603, 6.329898887516717),
 (604, 7.192940729630124),
 (605, 6.68899510932161),
 (606, 6.731302042495562),
 (607, 6.719682698656437),
 (610, 6.309440084600347),
 (611, 6.535712734646543),
 (612, 6.042326004501962),
 (613, 6.7932962665226135),
 (614, 6.713995136259997),
 (616, 6.535712734646543),
 (618, 6.137802378040291),
 (620, 7.438617645150809),
 (621, 6.84961046431946),
 (623, 6.7373893402756275),
 (624, 5.4368067844818535),
 (626, 5.921457318903813),
 (627, 8.521267773820485),
 (630, 6.944207506195891),
 (633, 6.927150991837762),
 (634, 7.069359695314857),
 (635, 6.519416691902704),
 (636, 6.674434876790899),
 (637, 6.414944204174505),
 (646, 6.649403685555327),
 (648, 5.97485391261084),
 (649, 6.611044475947539),
 (652, 6.525724689899406),
 (653, 6.563995659626315),
 (655, 6.745064766515593),
 (658, 7.618418545665151),
 (667, 6.791327914821461),
 (668, 5.479122882454416),
 (670, 6.0563786095832945),
 (671, 6.713419674993469),
 (677, 6.535712734646543),
 (678, 6.7926836276294855),
 (682, 6.1006367750272625),
 (684, 5.595897399146653),
 (685, 6.284673569333006),
 (687, 6.795232020870042),
 (688, 5.950822456280102),
 (690, 6.692641422850098),
 (691, 7.230261575804135),
 (693, 5.830584619546305),
 (694, 6.434326517268992),
 (696, 7.077539766253208),
 (706, 6.2355975468703),
 (708, 7.4451133521142445),
 (709, 7.172200445890323),
 (710, 7.214286799778588),
 (712, 7.2218350357623855),
 (714, 6.535712734646543),
 (718, 6.104013691376646),
 (721, 7.371477327379022),
 (727, 6.535712734646543),
 (729, 6.535712734646543),
 (738, 6.80416106404991),
 (740, 7.20082986129223),
 (744, 6.619576429278281),
 (749, 6.535712734646543),
 (750, 7.143930803052552),
 (751, 6.535712734646543),
 (754, 6.535712734646543),
 (763, 7.744144385536374),
 (764, 7.543154399849085),
 (771, 7.035667938706623),
 (776, 6.829526396189267),
 (782, 6.353844741506293),
 (783, 6.663716980862049),
 (786, 5.945045220476233),
 (789, 7.246227267433577),
 (790, 8.010125332055685),
 (795, 7.05277957792177),
 (798, 7.30737271535045),
 (799, 6.3845035738113065),
 (800, 6.690544213896052),
 (801, 8.595619136810452),
 (810, 6.879528078047035),
 (812, 7.196976439508247),
 (817, 6.023339602821468),
 (831, 6.81925043463132),
 (832, 6.535712734646543),
 (833, 6.765431400659224),
 (835, 6.46945420310431),
 (836, 5.913738356943495),
 (838, 6.564195010064481),
 (840, 6.631887632224931),
 (841, 5.767427062374208),
 (845, 7.325836480014428),
 (846, 8.188692098218699),
 (849, 7.124359680244765),
 (850, 6.1963205714518566),
 (852, 8.03664378223861),
 (853, 7.1083872155342105),
 (854, 5.6702689126828965),
 (855, 7.360052071735586),
 (856, 8.033525459302345),
 (857, 7.196489411199725),
 (858, 6.108827675721203),
 (859, 6.398594077957219),
 (860, 6.289733011412174),
 (861, 7.145135519409148),
 (863, 6.011592937148893),
 (865, 6.535712734646543),
 (872, 7.283885059727714),
 (873, 7.28401392791417),
 (874, 7.413136896931909),
 (876, 7.125647216177821),
 (877, 7.7912655762138865),
 (878, 6.734520433416398),
 (879, 7.680650865267771),
 (880, 7.869102434485215),
 (886, 6.251609000862254),
 (888, 6.671923087787029),
 (889, 8.226494985950904),
 (890, 7.954795386379393),
 (907, 7.231844515843732),
 (909, 6.495458683383793),
 (910, 5.417948943476969),
 (912, 6.742106446078676),
 (913, 6.671200553916739),
 (914, 7.387107709947264),
 (915, 7.547333455734789),
 (916, 6.222615550948584),
 (918, 8.794025865442453),
 (919, 7.092309296396665),
 (924, 6.744603304475291),
 (925, 6.485225248808522),
 (926, 6.2733960359454155),
 (927, 5.9394926175974065),
 (928, 6.334657652605443),
 (929, 6.562614199861747),
 (930, 6.714356812200211),
 (934, 7.679528420348942),
 (935, 6.904877691574197),
 (940, 6.853122676630002),
 (941, 6.8989543903906885),
 (942, 6.182964384781233),
 (943, 6.802872788535342),
 (944, 6.454057763881928),
 (951, 7.419964284267679),
 (952, 6.125414461947877),
 (953, 6.250206306712671),
 (956, 6.535712734646543),
 (957, 8.321697055248357),
 (958, 7.088017345641075),
 (959, 7.275370572033183),
 (960, 7.029957787371057),
 (961, 6.727826129183603),
 (962, 7.768159237671509),
 (964, 5.192238515107532),
 (965, 6.638508953880308),
 (966, 6.535712734646543),
 (967, 8.012618673273593),
 (968, 6.535712734646543),
 (969, 6.888979836339005),
 (970, 7.43817621675068),
 (971, 6.913511693113305),
 (973, 6.62561754502834),
 (980, 6.502203483517961),
 (988, 6.535712734646543),
 (990, 7.068982071937114),
 (992, 7.30238502417843),
 (996, 7.096282279159812),
 (998, 7.3185935061683685),
 (1000, 7.5468386056826775),
 (1005, 6.7017444746785),
 (1013, 7.300450760412856),
 (1017, 7.466855680588596),
 (1018, 6.849735422387915),
 (1019, 6.362225446403738),
 (1021, 7.235012070576838),
 (1022, 7.545361237543131),
 (1025, 7.354640475586533),
 (1035, 6.212624728515954),
 (1037, 6.1517344768303435),
 (1040, 6.535712734646543),
 (1045, 6.562348519310469),
 (1046, 6.5280147988940715),
 (1048, 6.189823491589123),
 (1050, 6.4498076295161155),
 (1057, 6.223324963468318),
 (1060, 6.683764422368252),
 (1062, 6.3343463233633255),
 (1065, 7.981389460025429),
 (1067, 5.855184407964159),
 (1068, 6.535712734646543),
 (1069, 6.933448765337737),
 (1070, 5.949069033586938),
 (1082, 6.177477731320245),
 (1083, 6.535712734646543),
 (1086, 6.490531992162007),
 (1087, 8.005817482826913),
 (1088, 8.355173587947643),
 (1093, 6.535712734646543),
 (1097, 6.350433309543783),
 (1098, 5.572369404130129),
 (1103, 6.785215151659685),
 (1104, 6.993272172065511),
 (1108, 6.827239833958479),
 (1110, 6.511844378203288),
 (1123, 6.608387740505251),
 (1126, 7.509071732400788),
 (1127, 6.138807736143492),
 (1128, 6.29422711165379),
 (1132, 6.795950964696673),
 (1133, 6.6833910708921636),
 (1136, 6.353845127547359),
 (1137, 7.140169720905294),
 (1138, 6.899585075601841),
 (1139, 6.535712734646543),
 (1142, 7.8667188608458325),
 (1145, 7.524262336550842),
 (1149, 6.783299791259313),
 (1156, 6.012021184843079),
 (1157, 6.229267354412858),
 (1161, 6.323259504525187),
 (1163, 6.293582726224928),
 (1164, 7.442039828852078),
 (1167, 5.891789188574198),
 (1172, 7.035458764382339),
 (1175, 6.535712734646543),
 (1179, 6.935290455334759),
 (1180, 7.18379634350092),
 (1184, 6.794864168749746),
 (1186, 6.50195822035677),
 (1188, 5.905542644617319),
 (1189, 6.567120925885806),
 (1193, 5.925555386461205),
 (1194, 6.935097775338044),
 (1195, 6.8620131671491595),
 (1196, 7.472578959851598),
 (1198, 6.053250411307101),
 (1199, 6.535712734646543),
 (1200, 6.535712734646543),
 (1210, 7.6110099726541005),
 (1212, 7.199870117468853),
 (1214, 6.715328829953476),
 (1218, 6.435786674339747),
 (1219, 6.475391627945367),
 (1221, 6.56437904500679),
 (1222, 7.231693947818959),
 (1224, 6.321533020742152),
 (1226, 5.833092523202593),
 (1230, 6.759947990594321),
 (1231, 6.862241861216464),
 (1236, 6.535712734646543),
 (1239, 6.824294649311309),
 (1243, 6.9339912643839385),
 (1246, 7.089514573676082),
 (1247, 6.535712734646543),
 (1249, 6.662361661228853),
 (1250, 7.020004760212621),
 (1251, 7.158144200135898),
 (1254, 7.777347234522448),
 (1261, 6.782972339537075),
 (1264, 6.976724328713119),
 (1279, 7.471477558676633),
 (1281, 7.5227886889590305),
 (1292, 7.222644360565481),
 (1293, 7.9738986390750455),
 (1300, 6.80754076041705),
 (1312, 6.842693601668375),
 (1313, 7.275208318975993),
 (1314, 6.535712734646543),
 (1316, 6.2275821114903955),
 (1325, 6.835696504621544),
 (1327, 7.115675339810985),
 (1333, 6.535712734646543),
 (1337, 6.535712734646543),
 (1349, 5.794426062000582),
 (1356, 7.185566813762122),
 (1371, 7.110372094484005),
 (1372, 7.660531960118807),
 (1374, 6.925878177956906),
 (1375, 6.845208789347246),
 (1377, 7.165820569798403),
 (1391, 6.054399334654784),
 (1397, 7.570868614543102),
 (1409, 6.045994654644566),
 (1410, 6.687147580346936),
 (1412, 7.251582755729104),
 (1425, 7.393806716306551),
 (1426, 6.948041061207989),
 (1442, 5.795384267052424),
 (1445, 6.463692225564333),
 (1448, 6.338537920581668),
 (1450, 6.7691320144464395),
 (1453, 8.433985450055435),
 (1454, 7.155950313030299),
 (1456, 6.912718265121681),
 (1458, 6.535712734646543),
 (1459, 7.235717979462911),
 (1465, 7.066432411418903),
 (1466, 6.535712734646543),
 (1469, 6.6103616385400015),
 (1470, 8.468324293622526),
 (1471, 8.000677036256238),
 (1472, 7.92216692138399),
 (1473, 7.7705226893108446),
 (1482, 7.576704118163613),
 (1483, 7.684706238675554),
 (1485, 7.894293291960551),
 (1486, 7.840647406941285),
 (1490, 7.48120981159257),
 (1491, 7.585130251950245),
 (1492, 6.796048079640411),
 (1493, 7.1084160059393575),
 (1498, 7.074930032676116),
 (1502, 5.988440392435548),
 (1508, 6.756215298976191),
 (1509, 6.318309125486101),
 (1516, 6.382948715142396),
 (1517, 6.917330625699865),
 (1519, 8.182378736522516),
 (1524, 6.46912983688179),
 (1530, 7.784986216043355),
 (1532, 5.866623389533806),
 (1533, 5.45998473412898),
 (1534, 6.517194228419224),
 (1536, 6.930752213167151),
 (1537, 6.535712734646543),
 (1538, 6.3127362041492585),
 (1541, 6.513395664351178),
 (1542, 6.398371094556589),
 (1543, 6.441798654564018),
 (1546, 6.866328657075026),
 (1547, 6.535712734646543),
 (1548, 6.535712734646543),
 (1550, 6.645168360560186),
 (1554, 7.2924462958024305),
 (1555, 6.444307681817706),
 (1557, 6.88142406771189),
 (1559, 7.726054626460357),
 (1561, 5.94243253384921),
 (1562, 6.984252222417716),
 (1563, 6.932476033055498),
 (1564, 6.271564056717628),
 (1565, 6.40334667511955),
 (1567, 7.214174896923688),
 (1568, 6.955831457304752),
 (1569, 6.416104672247709),
 (1570, 6.082718596570887),
 (1571, 8.08686437616195),
 (1572, 5.9092902699945835),
 (1573, 7.006985839791781),
 (1574, 6.535712734646543),
 (1575, 8.097296629779198),
 (1578, 6.148240695320268),
 (1579, 7.525893377624452),
 (1581, 6.12728973401718),
 (1583, 6.097530156324725),
 (1587, 6.151971726375372),
 (1588, 6.409327018394592),
 (1589, 7.626429310744136),
 (1590, 6.535712734646543),
 (1591, 6.0614298714507555),
 (1592, 7.159073667045389),
 (1594, 6.682673891529702),
 (1597, 5.699275180210491),
 (1599, 7.150478148478694),
 (1600, 6.383050522942156),
 (1601, 6.684973598584706),
 (1602, 6.413604431486422),
 (1603, 6.611623475690694),
 (1604, 7.71092344797232),
 (1606, 7.076598702227436),
 (1607, 5.79260324019253),

In [19]:
new_ratings = pd.DataFrame(new_ratings, columns=['anime_id', 'Predicted Rating'])
new_ratings

      anime_id  Predicted Rating
0            1          8.626831
1            6          8.702511
2            7          6.870629
3            8          6.909182
4           15          7.631302
...        ...               ...
3772     34501          6.535713
3773     34502          6.535713
3774     34503          6.535713
3775     34522          6.535713
3776     34525          6.535713

[3777 rows x 2 columns]

In [20]:
new_ratings = pd.merge(animes,new_ratings,on='anime_id')
new_ratings

,anime_id,name,genre,type,episodes,rating,members,Predicted Rating
0,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,8.356970
1,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,7.850056
2,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,8.767205
3,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109,8.451647
4,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749,8.677988
...,...,...,...,...,...,...,...,...
3772,34522,"Wake Up, Girls! Shin Shou","Drama, Music",TV,Unknown,NaN,381,6.535713
3773,34467,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,Unknown,NaN,1838,6.535713
3774,32615,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652,6.535713
3775,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593,6.535713
3776,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439,6.535713

In [21]:
new_ratings.sort_values(by='Predicted Rating', ascending=False, inplace=True)
new_ratings.head(20)

,anime_id,name,genre,type,episodes,rating,members,Predicted Rating
219,7791,K-On!!,"Comedy, Music, School, Slice of Life",TV,26,8.14,246276,9.106341
203,223,Dragon Ball,"Adventure, Comedy, Fantasy, Martial Arts, Shou...",TV,153,8.16,316102,8.981772
54,5941,Cross Game,"Comedy, Drama, Romance, School, Sports",TV,50,8.53,53108,8.981661
27,31043,Boku dake ga Inai Machi,"Mystery, Psychological, Seinen, Supernatural",TV,12,8.65,402381,8.859494
42,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653,8.849693
47,170,Slam Dunk,"Comedy, Drama, School, Shounen, Sports",TV,101,8.56,82570,8.843435
5,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201,9.04,336376,8.794026
74,12531,Sakamichi no Apollon,"Drama, Josei, Music, Romance, School",TV,12,8.48,146592,8.777541
2,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,8.767205
399,5680,K-On!,"Comedy, Music, School, Slice of Life",TV,13,7.87,386048,8.760558
46,17389,Kingdom 2nd Season,"Action, Historical, Military, Seinen",TV,39,8.57,31234,8.712233
125,6,Trigun,"Action, Comedy, Sci-Fi",TV,26,8.32,283069,8.702511
51,2251,Baccano!,"Action, Comedy, Historical, Mystery, Seinen, S...",TV,13,8.54,363215,8.683884
4,4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749,8.677988
30,6114,Rainbow: Nisha Rokubou no Shichinin,"Drama, Historical, Seinen, Thriller",TV,26,8.64,139474,8.673140
23,20583,Haikyuu!!,"Comedy, Drama, School, Shounen, Sports",TV,25,8.68,284498,8.659120
166,8425,Gosick,"Drama, Historical, Mystery, Romance",TV,24,8.23,232113,8.643643
21,12365,Bakuman. 3rd Season,"Comedy, Drama, Romance, Shounen",TV,25,8.71,133620,8.637595
11,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824,8.626831
93,558,Major S2,"Comedy, Drama, Shounen, Sports",TV,26,8.41,30689,8.617327